/* basic reset using universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* setting global font-size
use font-size of 62.5% to allow users to have changed default font size if needed, if not it will default from 16root px to 10pxs*/

// 1 rem = 10px; 10/16 = 62.5
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    //1rem = 9px; 9/16 =
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    // width < 900?
    //1rem = 8px; 8/16 =
    font-size: 50%;
  }
  @include respond(big-desktop) {
    //1rem = 12; 12/16 =
    font-size: 75%;
  }
}

/* setting font properties for whole webpage, inherited into all properties */
body {
  box-sizing: border-box;
}
